/********* Custom Styles *********/

@import "normalize";
@import "fonts";
@import "utilities";
@import "config";
@import "buttons";
@import "animation";

// Add background to main containers for each page
.home_cont,
.services_main_container,
.services > div,
.contact > div,
#gallery,
.services {
  position: relative;
  z-index: 1;
//   background-color: rgba(0, 0, 0, 0.7); // Semi-transparent dark overlay
//   padding: 20px;
  border-radius: 8px;
  // margin: 20px 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#__next {
  background: #fff;
  min-height: 100vh;
}

/********* Pages Styles *********/

@import "common";
@import "homepage";
@import "services";
@import "gallery";
@import "contact_us";
@import "export";
